.main{
    position: relative;
}

.detail-box{
    position:absolute;
    top:77px;
    bottom:10px;
    right:30px;
    width:500px;
    border-left:1px solid #ddd;
    padding:10px 10px 10px 30px;
    background-color:#fff;
    z-index:1;
}

.detail-header{
    height:30px;
    padding:5px;
    border-bottom:2px solid #ddd;
    font-weight:700;
}

.detail-box .close-btn{
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer
}

.detail-box ul{
    padding:0;
}

.detail-box li{
    padding:10px;
    display:block;
    border-bottom:1px solid #ddd;
    position:relative;
}

.detail-box li span{
    margin-right:10px;
    cursor:pointer;
}

.detail-box li .glyphicon-check{
    color:#428BCA;
}

.detail-box li .glyphicon-unchecked{
    color:#ddd;
}

.account-left{
    border-right:1px solid #ddd;
}

.account-info{
    padding:5px;
}

.account-info p{
    font-size:20px;
}

.account-info img,
.account-info .img-item{
    height:60px;
    width:60px;
    border:1px solid #ddd;
    float:left;
    margin-right:10px;
    display:inline-block;
}

.account-info .img-item{
    color: #DDD;
    font-size: 60px;
    overflow: hidden;
}

.slide-tabs{
    padding:0 0 10px;
}

.slide-tabs li{
    display:block;
    cursor:pointer;
    padding:10px;
    border-bottom: 1px solid #ddd;
}

.slide-tabs li.active,
.item-list li.active{
    position:relative;
}

.slide-tabs li.active:before,
.item-list li.active:before{
    display:block;
    content:" ";
    position:absolute;
    right:-1px;
    top: 0;
    height: 0;
    width: 0;
    bottom:0;
    margin:auto;
    border-width: 10px 10px 10px 0;
    border-style:solid;
    border-color:rgba(255,255,255,0) #ddd rgba(255,255,255,0) rgba(255,255,255,0);
    z-index:2;
}

.slide-tabs li.active:after,
.item-list li.active:after{
    display:block;
    content:" ";
    position:absolute;
    right:-1px;
    top: 0;
    height: 0;
    width: 0;
    bottom:0;
    margin:auto;
    border-width: 8px 8px 8px 0;
    border-style:solid;
    border-color:rgba(255,255,255,0) #fff rgba(255,255,255,0) rgba(255,255,255,0);
    z-index:2;
}

.item-list li.active:before{
    right:499px;
}

.item-list li.active:after{
    right:499px;
}

.item-list,.item-list ul{
    padding:0;
}

.item-list li{
    padding:10px 15px;
    border-bottom:1px solid #ddd;
    display:block;
}

.item-header{
    padding:10px 15px;
    height: 54px;
}

.item-list .opera-box a{
    margin-left:10px;
}

.create-org-box>div,
.create-org-box>button,
.join-org-box>div,
.join-org-box>button{
    margin-right:10px;
}

li:hover{
    background:#fafafa;
}