.main{
    position: relative;
}

.detail-box{
    position:absolute;
    top:77px;
    bottom:10px;
    right:15px;
    width:500px;
    border-left:1px solid #ddd;
    padding:10px 10px 10px 30px;
    background-color:#fff;
    z-index:1;
}

.detail-header{
    height:30px;
    padding:5px;
    border-bottom:2px solid #ddd;
    font-weight:700;
}

.detail-box .close-btn{
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer
}

.detail-box ul{
    padding:0;
    margin:0;
}

.detail-box li{
    padding:10px;
    display:block;
    border-bottom:1px solid #ddd;
    position:relative;
}

.detail-box li span{
    margin-right:10px;
    cursor:pointer;
}

.detail-box li .icon-checkbox-checked{
    color:#428BCA;
}

.detail-box li .icon-checkbox-unchecked{
    color:#ddd;
}

.account-left{
    width:220px;
    float:left;
    background-image: -webkit-linear-gradient(right, #f6f6f6 0%, #fff 8px);
    background-image: -moz-linear-gradient(right, #f6f6f6 0%, #fff 8px);
    background-image: linear-gradient(to left, #f6f6f6 0%, #fff 8px);
    box-shadow: inset -1px 0 0 #eee;
    overflow:hidden;
}

.account-info{
    padding:5px;
}

.account-info p{
    font-size:20px;
}

.account-info img,
.account-info .img-item{
    height:60px;
    width:60px;
    border:1px solid #ddd;
    float:left;
    margin-right:10px;
    display:inline-block;
}

.account-info .img-item{
    color: #DDD;
    font-size: 60px;
    overflow: hidden;
}

.slide-tabs{
    padding:0 0 10px;
}

.slide-tabs li{
    display:block;
    cursor:pointer;
    padding:10px 10px 10px 75px;
    margin-right: 5px;
}

.slide-tabs li.active{
    position:relative;
    background:#fff;
    margin-right: 0;
    border-style:solid;
    border-width:1px 2px 1px 0;
    border-color:#eee transparent #eee #ddd;
    box-shadow: -1px 0 3px rgba(0,0,0,0.1);
}

.account-right{
    margin-left:240px;
}

.item-list,.item-list ul{
    padding:0;
    position: relative;
}

.item-list li{
    padding:10px 15px;
    border-bottom:1px solid #ddd;
    display:block;
    position: relative;
}

.item-list li.active:before{
    position: absolute;
    top: 0;
    right: 499px;
    width: 1px;
    height: 100%;
    background-color: #fff;
    content: "";
    display: block;
    z-index: 99;
}

.item-header{
    padding:10px 15px;
    height: 54px;
}

.item-list .opera-box{
    margin-top:5px;
}

.item-list .opera-box a{
    margin-right:10px;
}

.opera-box a{
    color:#ddd;
}

.opera-box:hover a{
    color:#428bca;
}

.create-org-box>div,
.create-org-box>button,
.join-org-box>div,
.join-org-box>button{
    margin-right:10px;
}

li:hover{
    background:#fafafa;
}

.edit-box{
    width:400px;
    padding:20px;
    margin-right:220px;
    float:right;
    background-color: #FFF;
    position:relative;
}
/*.edit-box button{*/
    /*width:50%;*/
/*}*/

.info-edit{
    font-size: 12px;
    text-align: right;
    color:#333333;
    margin-left:10px;
}