#view{
    width:960px;
    margin:0 auto 0 80px;
    word-break:break-all;
}

#menu{
    position:fixed;
    top:40px;
    right:40px;
    bottom:10px;
    overflow:auto;
    text-align:right;
}

#menu > li > a {
    color: #353535;
    font-weight: bold;
}

#menu ul{
    height:0;
    overflow: hidden;
}

#menu ul.active{
    height:auto;
    max-height:100%;
}

#menu li{
    display:block;
}

#menu a{
    color:#999;
}

#menu a.active{
    color:#259DFF;
}