.main{
    position:relative;
}

#topbar{
    position:absolute;
    top:70px;
    left:0;
    right:0;
    padding:5px;
}

#topbar span{
    display:inline-block;
    vertical-align:middle;
    margin-left:10px;
}

#view{
    position:absolute;
    top:110px;
    left:200px;
    right:0;
    padding:5px 0;
    border:1px dotted #ddd;
    height: 50px;
}

#view span{
    margin-left:5px;
    cursor:pointer;
    position:relative;
}

#view span:hover{
    box-shadow: 0 0 5px #999;
}

#view span:hover i{
    display:block;
}

#view i{
    position:absolute;
    right:0;
    top:0;
    font-size:10px;
    color:#ddd;
    display:none;
}

#edit-con{
    position:absolute;
    top:170px;
    bottom:0;
    left:200px;
    right:0;
    border:1px solid #ddd;
    overflow:auto;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
           -o-user-select: none;
              user-select: none;
}

#edit-box{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:400px;
    height:400px;
    border-style:dotted;
    border-color:#ddd;
    border-width:1px 0 0 1px;
    margin:auto;
    color:#666;
}

#edit-box span{
    display:block;
    border-style:dotted;
    border-color:#fff #ddd #ddd #fff;
    border-width:1px;
    float:left;
}

#edit-box span.active{
    background-color:#ddd;
}

#edit-box span:hover{
    background-color:#eee;
}

.cell5 span{
    width:20%;
    height:20%;
}

.cell10 span{
    width:10%;
    height:10%;
}

.cell20 span{
    width:5%;
    height:5%;
}

#slidebar{
    background-color:#ddd;
    position:absolute;
    top:110px;
    bottom:0;
    left:0;
    width:191px;
}

.slidebar-code{
    position:absolute;
    top:31px;
    bottom:0;
    right:0;
    left:0;
}

#code{
    height:100%;
    width:100%;
    resize:none;
    border:1px dashed #ddd
}

#select-area{
    position:fixed;
    border:1px dashed #ddd;
    background-color:rgba(20,20,20,.1);
    display:none;
}