/*tip*******************************************/
.cm-tip{
    position:fixed;
    background:rgba(0,0,0,.9);
    border-radius:4px;
    color:#fff;
	z-index:1000;
}

.cm-tip-arrow{
    position: absolute;
	border-width: 0 6px 6px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.9);
	top: -6px;
	left: 50%;
	margin-left: -6px;
}

.cm-tip-content{
    padding:5px 10px;
}
/*tip*******************************************/
/*prompt style START*/
.prompt-box{
	position: fixed;
	top:30px;
	left:0;
	right:0;
	z-index: 1050;
	margin: auto;
	text-align:center;
    font-size:14px;
}

.prompt-box .alert{
	display:inline-block;
	padding:5px 20px;
}

@media screen and (min-width: 768px){
	.prompt-box {
		width: 600px;
		margin: auto;
	}
}
/*prompt style END*/

body{
    font-size:12px;
	padding-top:70px;
}

.topnav{
	padding-bottom:1px;
    margin-bottom:20px;
	background:#fff;
	z-index:999;
	position:fixed;
	left:0;
	right:0;
	top:0;
	opacity:.8;
}

.topnav:hover{
	opacity:1;
}

.line{
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #FFF), color-stop(10%, #DDD), color-stop(90%, #DDD), color-stop(100%, #FFF));
	background-image: -webkit-linear-gradient(left, #FFF,#DDD 10%,#DDD 90%,#FFF) background-image: -moz-linear-gradient(left, #FFF,#DDD 10%,#DDD 90%,#FFF);
	background-image: -o-linear-gradient(left, #FFF,#DDD 10%,#DDD 90%,#FFF);
	background-image: linear-gradient(left, #FFF,#DDD 10%,#DDD 90%,#FFF);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100% 1px;
}

.border{
	position:relative;
}

.border:before{
	display: block;
	content: " ";
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	background-color: rgba(150, 150, 150, 0.1);
    z-index:-1;
}

.btn{
	font-size:12px;
}

.anchor{
	margin-top:-60px;
	padding-top:60px;
}

.error{
	border-color: #A94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.error:focus{
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #CE8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #CE8483;
}

html,
body{
    height:100%;
}

.main{
    min-height:500px;
}

.footer{
	margin-top:20px;
	padding:20px 0;
	background-position: top center;
}