.cm-tip-content {
    font-size: 14px;
}

.cm-modal-box{
    background-color:rgba(0,0,0,.9);
}

.edit-btn-box{
    position:absolute;
    top:10px;
    left:10px;
    z-index:3;
}

#slidebar{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:150px;
    z-index:4;
    -webkit-transition : all 0.3s ease;
    -moz-transition    : all 0.3s ease;
    transition         : all 0.3s ease;
    overflow:hidden;
}

.slide-head{
    padding:10px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.slide-head .btn{
    opacity:1;
    font-size:30px;
    border-radius:4px;
}

.slide-head .btn:first-child{
    margin-right:10px;
}

.slide-body{
    height:100%;
    margin-top:-94px;
    padding:94px 0 0;
    background-color:#2B2B2B;
    position:relative;
    z-index:-1;
}

.slide-con{
    height:100%;
    padding:10px;
    overflow:auto;
}

.slide-con .btn{
    display:block;
    text-align: left;
    color:#fff;
    background:none;
    width:100%;
    border-bottom: 1px solid #666;
    font-size: 14px;
    font-weight: bold;
    padding: 1em;
}

.slide-con .btn:hover{
    background-color:#111;
}

#slidebar span{
    float:right;
}

.slide-detail{
    display:none;
    position:absolute;
    top:0;
    left:-100%;
    bottom:0;
    z-index:3;
    min-width:200px;
    background-color:#fff;
}

.slide-detail.active{
    display:block;
}

#topbar{
    position:absolute;
    top:10px;
    left:0;
    right:0;
    margin-left:150px;
    text-align:center;
    z-index:2;
    -webkit-transition : all 0.3s ease;
    -moz-transition    : all 0.3s ease;
    transition         : all 0.3s ease;
}

#topbar .btn{
    opacity:1;
    background-color: #000;
    color:#fff;
    border-left:1px solid #333;
    font-size: 14px;
    
}

#topbar .btn:hover{
    background-color:#333;
}

.btn-wrap{
    position:relative;
    display:inline-block;
}

#topbar .btn-wrap:hover > .btn{
    background-color:#333;
}

.btn-wrap-box{
    position:absolute;
    display:none;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    padding: 5px;
}

.btn-wrap:hover .btn-wrap-box{
    display:block;
}

.btn-wrap-box.v-box{
    width:100px;
    margin-left: -50px;
}

.btn-wrap-box.v-box .btn{
    border-width:0;
    border-top:1px solid #333;
    width:100%;
}

#rightbar .btn-wrap-box{
    width:50px;
    left: -50px;
    top: -5px;
    margin-left:0;
}

#rightbar{
    position:absolute;
    left: 50%;
    top: 50%;
    margin: -350px 0 0 555px;
    font-size: 14px;
    z-index:2;
    -webkit-transition : all 0.3s ease;
    -moz-transition    : all 0.3s ease;
    transition         : all 0.3s ease;
}

@media (max-width:1220px){
    #rightbar{
        left:auto;
        right:10px;
    }
}

@media (max-height:800px){
    #rightbar{
        top:50px;
        margin-top:0;
    }
}

#rightbar .btn{
    display:block;
    width: 100%;
    text-align: left;
    background-color: #000;
    color:#fff;
    border-top: 1px solid #333;
    opacity:.3;
}

#rightbar .btn:hover{
    opacity:.7;
}

#deck{
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 200px;
    right: 50px;
    z-index:1;
    -webkit-transition : all 0.3s ease;
    -moz-transition    : all 0.3s ease;
    transition         : all 0.3s ease;
}

.add-slide,
.add-fragment{
    position:absolute;
    width: 46px;
    height: 46px;
    z-index: 10;
    opacity: .5;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    -webkit-transition : all 0.3s ease;
    -moz-transition    : all 0.3s ease;
    transition         : all 0.3s ease;
    color: #FFF;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
}

.add-slide{
    top:50%;
    right:10px;
}

.add-fragment{
    left:50%;
    bottom:10px;
    margin-left:75px
}

.add-slide:hover,
.add-fragment:hover{
    opacity:1;
    width:50px;
    height:50px;
    font-size:32px;
    line-height:54px;
}

.add-slide:hover{
    margin-top:-2px;
    right:8px;
}

.add-fragment:hover{
    margin-left:73px;
    bottom:8px;
}

#deck .reveal .slides{
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

#deck .reveal .slides>section{
    top:0;
    left:0;
}

#deck .reveal section{
    height:100%;
    width:100%;
}

.reveal section[contenteditable]{
    outline:none;
    border:1px dashed rgba(150, 150, 150, 0.1);
}

.reveal section[contenteditable]:focus{
    background-color:rgba(0,0,0,0.1);
    border-color:rgba(150, 150, 150, 0.5);
}

.overlay{
    position:fixed;
    display:none;
    padding:10px;
    border:10px solid #111;
    background-color:#333;
    z-index:5;
    font-size:12px;
}

#link-box{
    
}

#html-box{
    display:none;
    height:100%;
}

#html-box textarea{
    height:100%;
    width:100%;
    resize:none;
}

/*预览*/
#deck.preview{
    top:0;
    left:0;
    bottom:0;
    right:0;
}

#slidebar.preview{
    left:-100%;
}

#topbar.preview,#rightbar.preview{
    top:-100%;
}

.add-fragment.preview{
    bottom:-100%;
}

.add-slide.preview{
    right:-100%;
}