.tab-item{
    padding: 0 15px;
    width:50%;
    float:left;
    position:relative;
    min-height:200px;
}

.tab-head{
    padding:5px;
    position:relative;
    border-left:1px solid;
    margin-bottom:10px;
    color:#428BCA;
}

.tab-head label{
    position:absolute;
    top:13px;
    left:10px;
    z-index:1;
}

.tab-head .form-group{
    margin-left:60px;
    margin-bottom:0;
}

.doc-item{
    padding:10px 5px;
    border-bottom:1px solid #ddd;
}

.doc-item:hover{
    background-color:#eee;
}

.box-head{
    border-left:1px solid;
    padding:14px 10px;
    margin-bottom:10px;
    color:#428BCA;
}

.tools-box{
    margin:20px 15px;
}

.tool-item{
    border:1px solid #ddd;
    width:25%;
    float:left;
    margin-left:-1px;
    margin-top:-1px;
}

.tool-item:first-child{
    border-left-width:1px;
}

.tool-item .tool-link{
    text-decoration:none;
}

.tool-item:hover{
    border-color:#428bca;
    position:relative;
    z-index:1;
    transition:all 0.3s;
}

.tool-item:hover .tool-detail{
    background:#428bca;
    color:#fff;
    transition:all 0.3s;
}

.tool-detail{
    padding:10px;
    height:100px;
    font-size: 4em;
    color: #428bca;
    text-align: center;
    line-height: 80px;
    border-bottom:1px solid #ddd;
}

.project-github{
    float:right;
    font-size:16px;
}

.tool-title{
    padding:10px;
}

.mark-box-shadow{
    position:relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.mark-box-shadow:before{
    width:0;
    height:0;
    border:.5em solid;
    display:block;
    content:' ';
    position:absolute;
}

.mark-box-shadow:after{
    width: 1em;
    height: 1em;
    border-style: solid;
    border-width: 0 .1em .1em 0;
    display: block;
    content: ' ';
    position: absolute;
    top: .2em;
    left: .2em;
}

.mark-markdown{
    position:relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size:1.2em;
}

.mark-markdown:before{
    content:"M"
}

.mark-slide{
    position:relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size:1.2em;
}

.mark-slide:before{
    content:"slide";
    position: absolute;
    left: -.5em;
}

.mark-mock{
    position:relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size:1.2em;
}

.mark-mock:before{
    content:"mock";
    position: absolute;
    left: -.6em;
}

.mark-xicon{
    position:relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size:1.2em;
}

.mark-xicon:before{
    content:"Xicon";
    position: absolute;
    left: -.6em;
}

@media (max-width : 720px) {
    .main{
        width:600px;
    }
    .tab-item{
        width:100%;
    }
    .tool-item{
        width:50%;
    }
}
