.doc-item{
    padding:0 15px;
    margin-bottom:15px;
    width:25%;
    float:left;
}

.doc-item>div{
    border:1px solid #ddd;
    padding:10px;
}

.doc-item>div>div{
    height:20px;
}

.user-span,
.star-span{
    opacity:.3;
    transition: all 0.3s;
    cursor:pointer;
}

.user-span:hover,
.star-span:hover{
    opacity:.6;
}
