html,body{
    height:100%;
}

.navbar.container{
    z-index:1;
}

.main{
    height:100%;
    margin-top:0;
    padding-top:0;
    min-height:0;
}

.edit-box{
    height:100%;
    position:relative;
}

.edit-left,
.edit-right{
    position:absolute;
    width:50%;
    top:0;
    bottom:0;
}

.edit-left{
    left:0;
    width:100%;
}

.edit-right{
    right:0;
    display:none;
}

.edit-left.view{
    width:50%;
}

.edit-right.view{
    display:block;
}

.editor{
    height:100%;
    margin-top:-100px;
    padding-top:100px;
    padding-bottom:50px;
}

#title{
    position:relative;
}

#editor{
    height:100%;
    margin-bottom: 10px;
}

#view{
    padding:10px;
    overflow:auto;
}
