extends ../layout

block css
  link(rel='stylesheet', href='/views/tools/layout/layout.css')
  
block content
  div.layout-box(ng-app='layout',ng-controller='layoutController')
    div.layout
      div.content(xcontain='*',xcomponent)
    div.function-bar
      button.btn.btn-default 预览
      button.btn.btn-default 全屏
    div.component(xslidebar)
      ul.slide-bar
        li.active 组件
        li 模型
        li 设置
      div.slide-item
        dl(expander)
          dt 布局组件
          dd.hide(ng-repeat='layout in layouts',xcomponent='{{$parent.layout.name}}')
            span {{$parent.layout.title}}
            span.xicon-plus
        dl(expander)
          dt 原子组件
          dd.hide(ng-repeat='(component,_) in components',xcomponent='{{$parent.component}}')
            | {{$parent.component}}
            span.xicon-plus
        dl(expander)
          dt 组合组件
          dd.hide(ng-repeat='group in groups',xcomponent='{{$parent.group.name}}')
            span {{$parent.group.title}}
            span.xicon-plus
        dl(expander)
          dt 其他组件
          dd.hide(ng-repeat='other in others',xcomponent='{{$parent.other.name}}')
            span {{$parent.other.title}}
            span.xicon-plus
      div.slide-item.hide
      div.slide-item.hide

block script
  script(type='text/javascript', src='/views/tools/layout/layout.js')