extends ../layout

block content
  div(ng-controller='todo')
    button(ng-click='get()') 获取
    div#view
    ul#menu
    
block script
  script(type='text/javascript', src='../lib/showdown/showdown.js')
  script(type='text/javascript', src='../utils/parser.js')
  script(type="text/javascript",src="/js/todo.js")