extends layout

block css
  link(rel='stylesheet', href='/css/account.css')

block content
  div.col-lg-3
    div.account-info.clearfix
      img(src='#{user.avatar_url}')
      p #{user.name}
  div.col-lg-9
    ul.nav.nav-tabs.nav-justified
      li.active
        a 我的文档
      li
        a github仓库
      li
        a 我的组织
      li
        a 我加入的组织
    ul.item-list.all-doc
    ul.item-list.all-repos.hidden

block script
  script(type='text/javascript').
    var url = {
      repos: '#{user.repos_url}'
    };
  script(type='text/javascript',src='/js/account.js')