extends layout

block css
  link(rel='stylesheet', href='/css/doc.css')
  
block content
  div#view
    if user && user.login === doc.user
      a.edit-btn.btn.btn-default(href='/edit?_id=#{doc._id}',data-tip='编辑当前文档')
        span.glyphicon.glyphicon-pencil
  ul#menu
  textarea#content.hidden #{doc.content}

block script
  script(type='text/javascript', src='/lib/showdown/showdown.js')
  script(type='text/javascript', src='/js/doc.js')

  div.footer