extends layout

block content
  each doc in docs
    a(href='/docs/'+doc.title)
      div.col-lg-3
        div.panel.panel-primary
          div.panel-heading #{doc.title}
          div.panel-body #{doc.content}
  
block script