extends layout

block css
  link(rel='stylesheet', href='/css/index.css')
  
block content
  div#doc.tab-item
    div.tab-head 文档
  div#slide.tab-item
    div.tab-head 幻灯片
  div.tab-item
    div.tab-head 工具
    each tool in tools
      div.tool-item
        a(href='/tools/'+tool.name)
          div.tool-detail
        div.tool-title
          a(href='/tools/'+tool.name) #{tool.title}
  
block script
    script(type='text/javascript',src='/js/index.js')
