extends layout

block css
  link(rel='stylesheet', href='/css/index.css')
  
block content
  div.clearfix
    each doc in docs
      div.doc-item
        div.panel.panel-default
          div.panel-heading
              a(href='/doc/'+doc.user+'/'+doc.title) #{doc.title}
          div.panel-body
            a.user-span.pull-right(href='/account/#{doc.user}')
              span.icon-user
              |  #{doc.user}
  if user
    div.clearfix
      h3.box-header 私有文档
      div.private-doc
    div.clearfix
      h3.box-header 组织文档
      div.org-doc
  
block script
  if user
    script(type='text/javascript',src='/js/index.js')
