extends layout

block css
  link(rel='stylesheet', href='/css/index.css')
  
block content
  each doc in docs
    div.doc-item
      div
        img(src='#{doc.thumbnail}',width='100%')
      div.panel.panel-default
        div.panel-heading
            a(href='/'+doc.user+'/'+doc.title) #{doc.title}
        div.panel-body
          span.user-span.pull-right(title='作者')
            span.glyphicon.glyphicon-user
            |  #{doc.user}
  if user
    div.private-doc
    div.org-doc
  
block script
  if user && user.github
    script(type='text/javascript').
      $.docsajax({
        url:'/get/user/orgs/docs',
        success:function(d){
          $('.org-doc').html($.map(d.docs,function(doc){
            return '<div class="doc-item"><div class="panel panel-default">'+
                    '<div class="panel-heading"><a href="'+
                      '/'+doc.user+'/'+doc.title+
                    '">'+
                      doc.title+
                    '</a></div>'+
                    '<div class="panel-body"><span class="user-span pull-right" data-tip="作者">'+
                    '<span class="glyphicon glyphicon-user"></span>'+doc.user+
                    '</span></div></div></div>';
          }).join(""));
        }
      });
