doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    //link(rel='stylesheet', href='/lib/bootstrap/3.0.3/css/bootstrap.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/icon.css')
    link(rel='stylesheet', href='/css/animate.css')
    block css
  body
    nav.top-nav.line
      div.container
        ul.top-nav-list
          li
            a.navbar-brand(href='/') DOCS
        ul.top-nav-list.pull-right
          if user
            li
              a(href='/account/#{user.login}',data-tip='个人中心') #{user.login}
            li
              a(href='/edit',data-tip='添加文档')
                span.icon-plus
            li
              a(href='/logout',data-tip='退出登录')
                span.icon-exit
          if !user && !login
            li
              a(href='/login') 登录
    div.container.main
      block content
      
    div.footer.line
      div.container
        span Create by 
        a(href='https://github.com/colorpeach') @colorpeach
    
    script(type='text/javascript', src='/lib/jquery/1.11.0/jquery.js')
    script(type='text/javascript',src='/js/common.js')
    block script