doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    link(rel='stylesheet', href='../lib/bootstrap/3.0.3/css/bootstrap.css')
    link(rel='stylesheet', href='/css/api.css')
    block css
  body
    nav.navbar.container
      ul.nav.navbar-nav
        li
          a.navbar-brand(href='/') DOC
        li
          a(href='./help') 帮助
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/edit')
            span.glyphicon.glyphicon-plus
        li
          a(href='/account') 个人账户
    div.container
      block content
    
    script(type='text/javascript', src='../lib/jquery/1.11.0/jquery.js')
    script(type='text/javascript', src='../lib/angular/1.1.5/angular.js')
    link(rel='stylesheet', href='../lib/bootstrap/3.0.3/js/bootstrap.js')
    block script