extends layout

block css
  link(rel='stylesheet', href='/css/modifypassword.css')

block content
    div.edit-box
        div.edit-con
            div.form-group.line-input
                label(for="username") 用户名
                input#username(type="text",value='#{user.login}',readonly)
            div.form-group.line-input
                label(for="oldpassword") 旧密码
                input#oldpassword(type="password",placeholder="请输入旧密码...",data-validator="required:请输入旧密码")
            div.form-group.line-input
                label(for="newpassword") 新密码
                input#newpassword(type="password",placeholder="请输入新密码...",data-validator="required:请输入新密码")
            div.form-group.line-input
                label 密码确认
                input#newpassword2(type="password",placeholder="请再次输入新密码...",data-validator="required:请再次输入新密码")
            div.form-group
                button#edit-btn.btn.btn-primary 提交
                button.btn.cancer-btn 返回
        ul

block script
  script(type='text/javascript').
    var user = '#{user.login}';
  script(type='text/javascript',src='/js/modifypassword.js')