doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/icon.css')
    link(rel='stylesheet', href='/css/deck.css')
    link(rel='stylesheet', href='/lib/reveal/2.6.2/css/reveal.min.css')
    link(rel='stylesheet', href='/lib/reveal/2.6.2/css/theme/default.css')
    link(rel='stylesheet', href='/lib/reveal/2.6.2/lib/css/zenburn.css')
    block css
  body
    textarea.hidden #{deck.content}
    
    script(type='text/javascript',src='/lib/reveal/2.6.2/lib/js/head.min.js')
    script(type='text/javascript',src='/lib/reveal/2.6.2/js/reveal.min.js')
    script(type='text/javascript',src='/js/slide.js')
