extends ../../layout

block css
  link(rel='stylesheet', href='/views/tools/mock/mock.css')

block content
  div.mock-box
    div.mock-left
    div.mock-right
    
block script
  script(type='text/javascript', src='/lib/mock/mock.js')
  script(type='text/javascript', src='/views/tools/mock/mock.js')
