html,body{
    height:100%;
}

.navbar.container{
    z-index:1;
}

.mock-item{
    height:100px;
    width:200px;
    border: 1px solid #ddd;
    background-color:#fff;
    float:left;
    margin-left:10px;
    margin-top:10px;
}

.add-mock{
    text-align:center;
    font-size:60px;
    color:#ddd;
    cursor:pointer;
}

.add-mock:hover{
    color:#aaa;
    border-color:#ddd;
}

.mock-box{
    height:100%;
}


.mock-left{
    width:300px;
    float:left;
    height:100%;
    font-size:14px;
}

.mock-right{
    margin-left:320px;
    margin-right:20px;
    height:100%;
}

.interface-box input{
    width:200px;
    display:inline-block;
    border-width:0 0 1px;
}

.interface-box label{
    margin-right:10px;
}

.interface-box textarea{
    vertical-align:middle;
    width:200px;
}