extends ../layout

block css
  link(rel='stylesheet', href='/views/tools/mock/mock.css')
  link(rel='stylesheet', href='/js/angularplugin/grid/css/grid.css')
  link(rel='stylesheet', href='/js/angularplugin/tree/css/tree.css')

block content
  div(ng-view)

block script
  script(type='text/javascript', src='/views/tools/mock/mock.js')
  if user
    include mock-add.jade
  include mock-detail.jade
  include mock-dashboard.jade

